/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #333;
    overflow: hidden;
}

.nav-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #555;
}

/* Estilos para encabezados y párrafos */
h1, h2 {
    margin: 20px;
    color: #333;
}

p {
    margin: 20px 0;
    color: #555;
}

/* Estilos para imágenes */
.about-img img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
